<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание 5</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="form-container">
        <h2>Вход</h2>

        <form action="main.cgi" method="post">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" {{ $login :=.Login }} {{ if $login }} value="{{ $login }}" {{ end
                }}>

            <label for="password">Пароль:</label>
            <input id="password" name="password" {{ $password :=.Password }} {{ if $password }} value="{{ $password }}"
                type="text" {{ else }} type="password" {{ end }}>

            <div class="warning {{ .Type }}">{{ .Message }}</div>

            <button type="submit">Войти</button>
        </form>

        <a href="main.cgi?action=form">До сих пор нет аккаунта?</a>
    </div>
</body>
</html>